body {
  background-color: #315c9d;
  width: 60%;
  margin-left: 5%;
  margin-right: 15%;
  line-height: 140%;
}

h1 {
  font-family: "Titan One", Arial;
  font-size: 3em;
  font-weight: bold;
  color: #f50000;
  padding: 0.25em;
  margin-top: 5%;
  border-bottom: 1px red solid;
}

h2 {
  width: 45%;
  font-family: "Titan One", Arial;
  font-size: 2em;
  font-weight: bold;
  color: #f50000;
  padding: 0.15em;
  margin-top: 5%;
  margin-left: 5 %;
  border-bottom: 1px red solid;
}

p {
  width: 45%;
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  margin-left: 6%;
  color: white;
}

#general{
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  margin-left: 3%;
  color: white;
}

img {
  float: right;
  margin: 0px 0px 15px 20px;
  max-width: 20%;
  height: auto;
  aspect-ratio: initial;
}

#Cover {
  float: right;    
  margin: 0 0 0 15px;
}
